---
layout: default
title: titles.affitto-sale
id: affitto-sale
last_modified_at: 2017-09-20T00:15:00+02:00
group:
    id: servizi
    title: titles.servizi
features:
    breadcrumb: true
    contacts: true
---

<section class="whiteSection afterWhiteSection full-width clearfix">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-xs-12">
                <div class="schoolInfo">
                    <h2>{% t page.title %}</h2>
                    <div class="text-justify">

                        <p>
                            &Egrave; possibile affittare le sale e/o il giardino dell'Asilo Nido il <strong>sabato e la domenica a qualsiasi ora</strong>,
                            oppure nei <strong>giorni feriali dopo le ore 18:30</strong>.
                        </p>
                        <p>
                            La struttura è adatta ad ospitare (e ha già ospitato in passato) attività
                            come le seguenti:
                        </p>
                        <ul class="list-unstyled para-list">
                            <li><i class="fa fa-check" aria-hidden="true"></i> <strong>Feste di compleanno</strong></li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> <strong>Corsi di preparazione al parto</strong></li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> <strong>Corsi di lingua (adulti e bambini)</strong></li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> <strong>Corsi di yoga (adulti e bambini)</strong></li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> <strong>Corsi di pilates</strong></li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> <strong>Corsi di psicomotricità</strong></li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> <strong>Corsi di primo soccorso pediatrico e BLSD</strong></li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> <strong>Corsi di formazione allattamento al seno e svezzamento</strong></li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> <strong>Corsi di risveglio muscolare</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <img src="img/main/giardino.jpg" alt="giardino" class="img-responsive img-rounded">
            </div>
        </div>
        <div class="row space-medium">
            <div class="col-xs-12 col-md-12">
                <div class="row isotopeContainer">

                    {% for image in site.static_files %}
                    {% if image.path contains 'assets/home_gallery/m/aule' %}
                    <div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector {{ class }}">
                        <article class="">
                            <figure>
                                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" class="img-rounded" />
                                <div class="overlay-background">
                                    <div class="inner"></div>
                                </div>
                                <div class="overlay">
                                    <a class="fancybox-pop" rel="portfolio-1" href="{{ site.baseurl }}{{ image.path }}">
                                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </figure>
                        </article>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row space-medium">
            <p>
                Per qualsiasi altra informazione e per conoscere le disponibilità della struttura, <strong>contattaci subito...</strong>
            </p>
        </div>
        <div class="row space-medium">
            <div class="col-xs-12 col-md-6">
                <p style="text-align: center">
                    <a href="contatti.html" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Contattaci</a>
                </p>
            </div>
            <div class="col-xs-12 col-md-6">
                <p style="text-align: center">
                    <a href="galleria.html" class="btn btn-primary"><i class="fa fa-image"></i> Galleria Completa</a>
                </p>
            </div>
        </div>
    </div>
</section>
