---
layout: default
title: Galleria Fotografica
id: galleria
features:
    breadcrumb: true
    contacts: true
---

<!-- WHITE SECTION -->
<section class="whiteSection full-width clearfix homeGallerySection" id="galleria">
    <div class="container">

        <div class="row">



            <div class="col-xs-12">
                <div class="filter-container isotopeFilters">
                    <ul class="list-inline filter">
                        <li class="active"><a href="#" data-filter=".aule">Aule</a></li>
                        <li><a href="#" data-filter=".giardino">Giardino</a></li>
                        <li><a href="#" data-filter=".attivita">Attività</a></li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="row isotopeContainer" id="container">

            {% for image in site.static_files %}
            {% if image.path contains 'assets/home_gallery' %}
            {% if image.path contains 'assets/home_gallery/aule' %}
            {% assign class = 'aule' %}
            {% endif %}
            {% if image.path contains 'assets/home_gallery/giardino' %}
            {% assign class = 'giardino' %}
            {% endif %}
            {% if image.path contains 'assets/home_gallery/attivita' %}
            {% assign class = 'attivita' %}
            {% endif %}
            <div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector {{ class }}">
                <article class="">
                    <figure>
                        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" class="img-rounded" />
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <a class="fancybox-pop" rel="portfolio-1" href="{{ site.baseurl }}{{ image.path }}">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </figure>
                </article>
            </div>

            {% endif %}
            {% endfor %}

        </div>


    </div>
</section>