---
layout: default
title: Galleria Fotografica
id: galleria
features:
    breadcrumb: true
    contacts: true

gallery_sections:
 - id: giardino
   name: Il Giardino
 - id: lattanti
   name: Stanza dei Lattanti
 - id: medi
   name: Stanza dei Medi
 - id: grandi
   name: Stanza dei Grandi
 - id: ninne
   name: Stanza delle Ninne


---

<!-- WHITE SECTION -->
<section class="whiteSection full-width clearfix homeGallerySection" id="galleria">
    <div class="container">


        {% for section in page.gallery_sections %}
        <div class="sectionTitle text-center clearfix">
            <h2>
                <span class="shape shape-left bg-color-4"></span>
                <span>{{section.name}}</span>
                <span class="shape shape-right bg-color-4"></span>
            </h2>
        </div>
        <div class="row isotopeContainer" id="container-{{section.id}}">

            {% for image in site.static_files %}
            {% if image.path contains 'assets/full_gallery/m/' and image.path contains section.id %}
            <div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector {{ class }}">
                <article class="">
                    <figure>
                        <img src="{{ site.baseurl }}{{ image.path | replace_first: '/m/', '/s/' }}" alt="image" class="img-rounded" />
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <a class="fancybox-pop" href="{{ site.baseurl }}{{ image.path }}">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </figure>
                </article>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}




    </div>
</section>