---
layout: default
title: titles.gruppo-educativo
id: gruppo-educativo
namespace: gruppo-educativo
permalink: /gruppo-educativo/
permalink_en: /educational-group/
last_modified_at: 2019-06-11T20:00:00+02:00
group:
    id: chi-siamo
    title: titles.chi-siamo
features:
    breadcrumb: true
    contacts: true
---

<section class="whiteSection afterWhiteSection full-width clearfix">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-xs-12">
                <div class="schoolInfo">
                    <h2>{% t page.title %}</h2>
                    <div class="text-justify">
                        <p>{% t group.p1 %}</p>
                        <p>
                            {% t group.p2 %}
                        </p>
                        <p>
                            {% t group.p3 %}
                        </p>
                        <p>
                            {% t group.p4 %}
                        </p>
                        <p>
                            {% t group.p5 %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <img src="../img/main/socie.jpg" alt="image" class="img-responsive img-rounded">
            </div>
        </div>
        <div class="row space-medium">
            <div class="col-xs-12 col-md-12">
                <div class="row isotopeContainer">

                    {% for image in site.static_files %}
                    {% if image.path contains 'assets/personale' %}
                    <div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector {{ class }}">
                        <article class="">
                            <figure>
                                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" class="img-rounded" />
                                <div class="overlay-background">
                                    <div class="inner"></div>
                                </div>
                                <div class="overlay">
                                    <a class="fancybox-pop" rel="portfolio-1" href="{{ site.baseurl }}{{ image.path }}">
                                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </figure>
                        </article>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
