---
layout: default
title: titles.laboratori
id: laboratori
namespace: laboratori
permalink: /laboratori/
permalink_en: /laboratories/
last_modified_at: 2019-06-11T20:00:00+02:00
group:
    id: servizi
    title: titles.servizi
features:
    breadcrumb: true
    contacts: true

laboratori:
  - id: "manipolazione"
    title: "workshops.manipolazione.title"
    text: "workshops.manipolazione.text"
  - id: "travasi"
    title: "workshops.travasi.title"
    text: "workshops.travasi.text"
  - id: "puzzle"
    title: "workshops.puzzle.title"
    text: "workshops.puzzle.text"
  - id: "libri"
    title: "workshops.libri.title"
    text: "workshops.libri.text"
  - id: "teatrino"
    title: "workshops.teatrino.title"
    text: "workshops.teatrino.text"
  - id: "pittura"
    title: "workshops.pittura.title"
    text: "workshops.pittura.text"
  - id: "creativo"
    title: "workshops.creativo.title"
    text: "workshops.creativo.text"
  - id: "cucina"
    title: "workshops.cucina.title"
    text: "workshops.cucina.text"
  - id: "psicomotricita"
    title: "workshops.psicomotricita.title"
    text: "workshops.psicomotricita.text"
  - id: "musica"
    title: "workshops.musica.title"
    text: "workshops.musica.text"
  - id: "esterni"
    title: "workshops.esterni.title"
    text: "workshops.esterni.text"


---

<section class="whiteSection afterWhiteSection full-width clearfix">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-xs-12">
                <div class="schoolInfo">
                    <h2>{% t page.title %}</h2>
                    <div class="text-justify">

                        <p>
                            {% t workshops.p1 %}
                        </p>
                        <p>
                            {% t workshops.p2 %}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {% for lab in page.laboratori %}
            <div class="col-md-3 col-sm-8 col-xs-12">
                <div class="schoolInfo">
                    <h3>{% t lab.title %}</h3>
                    <div class="text-justify">
                        <p>
                            {% t lab.text %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="isotopeContainer">
                    <div class="isotopeSelector">
                        <article class="">
                            <figure>
                                <img src="{{ site.baseurl }}/assets/laboratori/{{lab.id}}.jpg" alt="{{lab.id}}" class="img-rounded" />
                                <div class="overlay-background">
                                    <div class="inner"></div>
                                </div>
                                <div class="overlay">
                                    <a class="fancybox-pop" href="{{ site.baseurl }}/assets/laboratori/{{lab.id}}.jpg">
                                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </figure>
                        </article>
                    </div>
                </div>
            </div>

            {% assign loopindex = forloop.index | modulo: 2 %}
            {% if loopindex == 0 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
        </div>

    </div>
</section>
