---
layout: default
title: titles.laboratori
id: laboratori
group:
    id: servizi
    title: titles.servizi
features:
    breadcrumb: true
    contacts: true

laboratori:
  - id: "manipolazione"
    title: "Laboratorio di manipolazione"
    text: "Utilizzo del pongo, della pasta di sale. L'attività di manipolazione risponde a molti bisogni dei bambini, stimola la loro creatività, sviluppa competenze sensoriali, motorie, cognitive ed espressive, favorisce la coordinazione oculo-manuale e sviluppa la manualità fine."
  - id: "travasi"
    title: "Laboratorio dei travasi"
    text: "Il materiale messo a disposizione è composto da un'ampia gamma di contenitori di diversa forma e materiale da riempire e svuotare con pasta di diverso tipo, legumi, riso."
  - id: "puzzle"
    title: "Laboratori cognitivi"
    text: "I giochi cognitivi permettono al bambino di stimolare le capacità assertive e mnemoniche. Utilizziamo a questo scopo i puzzle, gli incastri di oggetti e immagini della vita quotidiana, giochi di associazione di immagine."
  - id: "libri"
    title: "Lettura dei Libri"
    text: "Raccontare le favole e lasciare interpretare ai bambini i diversi personaggi che popolano i libri permettono al bambino di sviluppare fantasia e immaginazione."
  - id: "teatrino"
    title: "Il \"Teatrino\""
    text: "Le educatrici rappresentano le più belle favole attraverso l'utilizzo delle marionette e del Teatrino, questo è un importante momento di scambio tra adulto e bambino che partecipa attivamente alla costruzione della storia."
  - id: "pittura"
    title: "Laboratorio di Pittura"
    text: "Utilizzo del pennello o della pittura a dita."
  - id: "creativo"
    title: "Laboratorio Creativo"
    text: "Utilizzo di stoffe, bottoni, cerniere."
  - id: "cucina"
    title: "Laboratorio di Cucina"
    text: "Durante il laboratorio di cucina, i bimbi preparano la pizza, la pasta e i biscotti partendo dall'impasto fino alla messa in forno."
  - id: "psicomotricita"
    title: "Psicomotricità"
    text: "Una volta la settimana è previsto il laboratorio di psicomotricità che può essere effettuato all'aperto (nel giardino esterno) oppure in aula. Sapersi muovere nello spazio e conoscere le proprie possibilità è un obiettivo fondamentale per questa fascia di età. I bambini in piccoli gruppi potranno cimentarsi in percorsi psicomotori diversificati in base alle capacità acquisite."
  - id: "musica"
    title: "Laboratorio di Musica"
    text: "La musica, come tutte le discipline artistiche, è un linguaggio espressivo che, soprattutto nei primi anni di vita, arriva all'essenza del bambino ancor prima del linguaggio verbale. Per questo motivo, già dalla primissima infanzia, abbiamo la possibilità di interagire con il bambino attraverso la musica pensata davvero come occasione di crescita emotiva, fisica (gestuale) e sociale."
  - id: "lingue"
    title: "Laboratorio di Inglese e Spagnolo"
    text: "Il bambino da 1 a 3 anni è ancora nella fase dell'acquisizione della sua lingua madre e proprio per questo il suo cervello possiede un'elasticità notevole. Se il bambino già dal Nido entra in contatto con una lingua straniera ed inizia a giocare con essa, avrà la possibilità di apprendere in modo spontaneo e naturale le differenze tra i suoni delle due lingue, il tutto in un'età in cui nulla è vissuto come un compito ma bensì come puro divertimento."
  - id: "esterni"
    title: "Laboratori Esterni"
    text: "La struttura è fornita di un giardino esterno molto spazioso (150 mq), che offre la possibilità di fare diversi laboratori esterni tra cui il giardinaggio, i giochi con l'acqua e l'utilizzo di piccole piscine d'estate per fare il bagno."


---

<section class="whiteSection afterWhiteSection full-width clearfix">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-xs-12">
                <div class="schoolInfo">
                    <h2>{% t page.title %}</h2>
                    <div class="text-justify">

                        <p>
                            Dal lunedì al venerdì sono previsti <strong>due laboratori strutturati al giorno</strong>. Per laboratori strutturati si intende tutte quelle attività in cui è previsto
                            l'intervento dell'adulto che coordina e spiega ai bambini l'attività che andranno a fare insieme.
                        </p>
                        <p>
                            Il laboratorio è pensato come un gioco che permette l'apprendimento permettendo al bambino di sperimentare libertà e autonomia. Ecco un elenco dei principali laboratori strutturati:
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {% for lab in page.laboratori %}
            <div class="col-md-3 col-sm-8 col-xs-12">
                <div class="schoolInfo">
                    <h3>{{lab.title}}</h3>
                    <div class="text-justify">
                        <p>
                            {{lab.text}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="isotopeContainer">
                    <div class="isotopeSelector">
                        <article class="">
                            <figure>
                                <img src="{{ site.baseurl }}/assets/laboratori/{{lab.id}}.jpg" alt="{{lab.id}}" class="img-rounded" />
                                <div class="overlay-background">
                                    <div class="inner"></div>
                                </div>
                                <div class="overlay">
                                    <a class="fancybox-pop" href="{{ site.baseurl }}/assets/laboratori/{{lab.id}}.jpg">
                                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </figure>
                        </article>
                    </div>
                </div>
            </div>

            {% assign loopindex = forloop.index | modulo: 2 %}
            {% if loopindex == 0 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
        </div>

    </div>
</section>
